#contactForm .form-control {
    border: 1px solid #a9a6a6;
}

.form-check-input {
    border: 1px solid #a9a6a6;
}

i.fa.fa-hand-o-right {
    color: #ff0000;
    font-family: 'FontAwesome';
}

.mb-3.row.row-age {
    display: flex;
}

.row-radio label.col-sm-8.col-form-label {
    color: #444444;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.mb-3.row.row-radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.row-cols {
    display: flex;
    justify-content: flex-start;
    margin: 0px auto;
    align-items: center;
}
    .row.row-jhk {
    display: flex;
    justify-content: flex-start;
    margin: 0px auto 10px;
    align-items: center;
    padding-left: 30px;
}
.row.row-jhk label.col-sm-8.col-form-label {
color: #444444;
text-align: justify;
font-size: 14px;
font-weight: 400;
display: inline;
}
.row.row-cols label.col-form-label {
    padding-top: 5px;
}

ol.oreder-listing {
    padding-left: 1rem;
    list-style-type: decimal;
   
}


.alert.alert-danger.alert-dismissible.fade.show {
    padding-right: 1rem;
    text-align: center;
}

  
.alert.alert-danger.alert-dismissible.fade.show p {
font-size: 14px;
}
.alert.alert-danger.alert-dismissible.fade.show {
    padding-right: 1rem;
    text-align: center;
    position: absolute;
    bottom: -58.5rem;
    right: 30px;
    width: 21%;
}
.alert-listing {
    background: #f8d7da3d;
    /* padding: 0px 10px;
   */
    border-radius: 7px;
    border: 1px solid #f1aeb533;
    width: 100%;
    display: flex;
}

.row-list {
    display: flex;
}
/* header design css */
nav.navbar.navbar-light{

}
    
header.header {
    padding: 5px 0px;
    background: #1d2b64;
}
ul.nav {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
a.navbar-brand {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
li.nav-item p {
    margin-bottom: 0;
    color: #fff;
}
a.navbar-brand {
    display: flex;
    justify-content: end;
    margin: 0px auto;
}


nav.navbar.navbar-light {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 30px;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
    padding: 8px 8px;
}
/* ----header design css end----- */